.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
 }

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  background-color: rgb(242, 242, 242);
}

.container-center {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.20);
}

.header {
  position: relative;
}

.header-logo {
  z-index: 1;
  width: 140px;
  height: 56px;
  padding-bottom: 15px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

.nav {
  background-color: rgb(255, 255, 255);
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-right: 73px;
}

.nav-item {
  width: 128px;
  padding-top: 18px;
  padding-bottom: 19px;
  font-weight: 600;
}

.nav-item:nth-child(4n+2) {
  margin-right: 150px;
}

.text-right {
  text-align: right;
}

.nav-link {
  color: rgb(0, 0, 0);
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(129, 179, 210);
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.nav-link:not([href]) {
  color: rgb(118, 89, 87);
}

.intro {
  position: relative;
  display: block;
  margin-bottom: 77px;
  padding-top: 77px;
  padding-bottom: 81px;
  background-color: rgb(89, 128, 170);
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position-y: -80px;
}

.intro::before {
  content: "";
  width: 1200px;
  height: 59px;
  position: absolute;
  bottom: -3px;
  background: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.intro-img {
  width: 459px;
  height: 353px;
  display: block;
  margin: 0 auto;
}

.reasons {
  background-color: rgb(255, 255, 255);
}

.reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reasons-item {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reasons-title {
  margin: 0 auto;
  width: 445px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
}

.reasons-desc {
  display: block;
  margin: 0 auto;
  margin-bottom: 55px;
  width: 560px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.reason-number {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.reason-title {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
}

.reason-info {
  width: 400px;
  padding-top: 43px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
  text-align: center;
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
}

.reason-desc {
  margin: 0;
  padding: 0;
}


.reason-img {
  display: block;
  width: 800px;
  height: 256px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

.features-item {
  position: relative;
  text-align: center;
  margin-top: 155px;
  margin-bottom: 90px;
  margin-right: 100px;
}

.features-item:nth-child(3n) {
  margin-right: 60px;
}

.features-item:nth-child(3n+1) {
  margin-left: 60px;
}

.feature-title{
  margin: 0 auto;
  margin-bottom: 25px;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
}

.feature-house::before {
  content: "";
  width: 75px;
  height: 72px;
  position: absolute;
  top: -100px;
  left: 110px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='72' viewBox='0 0 75 72'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M29.656 65.033h16V41.21h-16v23.823zm2.937-20.899h10.125V62.11H32.593V44.134z'/%3E%3Cpath d='M72.771 39.253l2.076-2.068-9.908-9.865V0H51.127v13.567L37.5 0 .152 37.185l2.077 2.068 7.832-7.795v37.618H6.124V72h63.875v-2.924H64.94V31.458l7.831 7.795zM62.002 69.076H12.999V28.534L37.5 4.149l24.502 24.385v40.542zm0-44.682l-7.938-7.902V2.924h7.938v21.47z'/%3E%3Cpath d='M29.906 27.08c0 4.261 3.47 7.713 7.75 7.713 4.279 0 7.75-3.452 7.75-7.713 0-4.259-3.471-7.713-7.75-7.713-4.281 0-7.75 3.454-7.75 7.713zm7.75-4.945c2.744 0 4.969 2.214 4.969 4.945 0 2.732-2.225 4.948-4.969 4.948-2.746 0-4.97-2.216-4.97-4.948 0-2.731 2.225-4.945 4.97-4.945zM17.061 41.21h3v3.919h-3zM22.999 41.21h3v3.919h-3zM17.061 47.182h3v3.919h-3zM22.999 47.182h3v3.919h-3zM48.998 41.21h3v3.919h-3zM54.936 41.21h3v3.919h-3zM48.998 47.182h3v3.919h-3zM54.936 47.182h3v3.919h-3z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.feature-food::before {
  content: "";
  width: 74px;
  height: 70px;
  position: absolute;
  top: -100px;
  left: 110px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='70' viewBox='0 0 74 70'%3E%3Cg fill='%2381B3D2'%3E%3Cpath d='M69.854 46.71H4.051c-2.274 0-4.135 1.94-4.135 4.313v3.504c0 2.372 1.861 4.313 4.135 4.313h.93v1.053c0 5.536 4.341 10.065 9.648 10.065h44.646c5.306 0 9.648-4.529 9.648-10.065V58.84h.93c2.274 0 4.135-1.941 4.135-4.313v-3.504c0-2.373-1.86-4.313-4.134-4.313zm-3.848 13.184c0 3.871-3.019 7.021-6.73 7.021H14.629c-3.711 0-6.731-3.15-6.731-7.021v-1.053h58.107v1.053zm5.065-5.367c0 .688-.558 1.271-1.218 1.271H4.051c-.66 0-1.217-.582-1.217-1.271v-3.504c0-.688.558-1.271 1.217-1.271h65.802c.66 0 1.218.582 1.218 1.271v3.504zM15.634 38.406l5.323 4.059 5.326-4.059 5.328 4.059 5.328-4.059 5.328 4.059 5.329-4.059 5.327 4.059 5.33-4.06 5.336 4.059 6.194-4.712-1.72-2.459-4.474 3.403-5.336-4.057-5.33 4.056-5.327-4.057-5.329 4.057-5.328-4.057-5.328 4.057-5.328-4.057-5.325 4.057-5.323-4.057-5.327 4.057-4.467-3.401-1.721 2.457 6.188 4.714zM7.978 31.544H68.855c.041-.619.069-1.241.069-1.87 0-.394-.016-.783-.032-1.173C68.227 12.657 54.186 0 36.952 0 19.719 0 5.677 12.657 5.013 28.501c-.017.39-.032.78-.032 1.173 0 .629.028 1.251.07 1.87h2.927zM36.952 3.043c15.591 0 28.35 11.316 29.021 25.458H7.931c.673-14.142 13.43-25.458 29.021-25.458z'/%3E%3Cellipse cx='36.952' cy='15.26' rx='1.945' ry='2.03'/%3E%3Cellipse cx='29.172' cy='10.23' rx='1.946' ry='2.03'/%3E%3Cellipse cx='44.732' cy='10.23' rx='1.946' ry='2.03'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.feature-souvenir::before {
  content: "";
  width: 64px;
  height: 76px;
  position: absolute;
  top: -100px;
  left: 115px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='76' viewBox='0 0 64 76'%3E%3Cpath fill='%2381B3D2' fill-rule='evenodd' d='M61.097 22.501H36.312C50.125 15.602 51.229 11.25 50.72 8.816c-1.162-3.963-5.692-7.023-10.002-5.407-5.569 2.089-7.137 10.388-8.644 16.387-1.924-6.07-3.784-13.814-8.136-17.737C22.677.921 20.843-.205 18.175.031c-4.026.356-9.802 5.382-7.458 10.981 2.251 5.378 9.687 8.777 14.578 11.489H2.879A2.882 2.882 0 0 0 0 25.37v11.322a2.882 2.882 0 0 0 2.879 2.869h.274V76h57.841V39.561h.103a2.882 2.882 0 0 0 2.88-2.869V25.37a2.882 2.882 0 0 0-2.88-2.869zM42.413 5.944c2.103-.31 4.982 1.299 5.255 3.209.393 2.756-3.4 5.255-5.086 6.421-2.523 1.744-4.928 2.643-7.287 4.055.884-3.69 2.549-13.011 7.118-13.685zm-22.882 9.968c-2.225-1.485-6.544-4.431-6.44-7.771.112-3.595 5.743-6.57 8.814-3.886 3.856 3.371 5.713 11.105 7.119 16.557-3.249-1.539-6.328-2.788-9.493-4.9zm5.972 57.114H6.136V39.561h19.368v33.465zm0-36.502H3.046V25.538h22.457v10.986zm10.157 0v36.503h-7.174V25.538h7.174v10.986zm22.351 36.502H38.644V39.561h19.367v33.465zm2.92-36.502H38.644V25.538h22.287v10.986z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.feature-desc {
  margin: 0 auto;
  width: 290px;
}

.reason-item-bottom {
  display: block;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: rgb(238, 238, 238);
  text-align: center;
}
.reason-item-bottom .reason-desc{
  padding-right: 60px;
  padding-left: 60px;
}

.reasons-item:last-child .reason-desc {
  padding-right: 75px;
  padding-left: 75px;
}

.booking-title {
  display: block;
  margin: 0 auto;
  padding-top: 57px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}

.booking-desk {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.booking-btn-title {
  display: block;
  width: 567px;
  min-height: 86px;
  padding: 10px;
  margin: 0 auto;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
}

.booking-btn-title:hover,
.booking-btn-title:focus {
  background-color: rgb(96, 78, 67);
}

.booking-btn-title:active {
  background-color: rgb(80,62, 51);
  color: rgba(255, 255, 255, 0.3);
}

.booking-form {
  width: 567px;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  padding: 55px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}

.booking-data-arrive {
  position: relative;
  margin-bottom: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
 }

.booking-data-arrive label {
  display: inline-block;
  padding: 0;
  padding-top: 6px;
  margin: 0;
  width: 107px;

}

.booking-data-departure {
  position: relative;
  margin-bottom: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking-data-departure label {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 107px;
}

.data-input {
  width: 346px;
  border: none;
  border: 2px solid transparent;
  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 6px;
  background-color: rgb(242, 242, 242);
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  outline: none;

}

.data-input:hover,
.data-input:focus {
  background-color: rgb(235, 235, 235);
}

.data-input:active {
  background-color: rgb(255,255, 255);
  border: 2px solid rgb(229, 229, 229);
}

.booking-btn-calendar {
  position: absolute;
  border: none;
  right: 0;
  top: 6px;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.booking-btn-calendar svg {
  fill: rgb(202, 202, 202);
}

.booking-btn-calendar svg:hover,
.booking-btn-calendar svg:focus {
  fill: rgb(0, 0, 0);
}

.booking-btn-calendar svg:active {
  fill: rgb(129, 179, 210);
}

.booking-number-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.booking-number-adult {
  width: 226px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 53px;
}
.booking-number-children {
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booking-number-adult label,
.booking-number-children label {
  width: 75px;
  flex-grow: 1;
  padding-top: 7px;
}

.number-persons  {
  width: 38px;
  height: 38px;
  text-align: center;
  border: none;
  background-color: rgb(242, 242, 242);
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}


.btn-minus {
  position: relative;
  padding: 0;
  border: none;
  border: 2px solid transparent;
  background-color: rgb(242, 242, 242);
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.btn-minus::before {
  content: "";
  position: absolute;
  right: 50%;
  transform:translate(50%);
  width: 12px;
  height: 3px;
  background-color: rgb(169, 169, 169);
}

.btn-minus:hover::before,
.btn-minus:focus::before {
  background-color: rgb(0, 0, 0);
}

.btn-minus:active::before {
  background-color: rgb(129, 179, 210);
}

.btn-minus:hover,
.btn-minus:focus,
.btn-plus:hover,
.btn-plus:focus {
  background-color: rgb(235, 235, 235);
}

.btn-minus:active,
.btn-plus:active {
  background-color: rgb(255,255, 255);
  border: 2px solid rgb(229, 229, 229);
}

.btn-plus {
  position: relative;
  border: none;
  border: 2px solid transparent;
  background-color: rgb(242, 242, 242);
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.btn-plus::before {
  content: "";
  position: absolute;
  right: 50%;
  transform: translate(50%);
  width: 12px;
  height: 3px;
  background-color: rgb(169, 169, 169);
}

.btn-plus::after {
  content: "";
  position: absolute;
  right: 50%;
  transform: translate(50%) rotate(90deg);
  width: 12px;
  height: 3px;
  background-color: rgb(169, 169, 169);
}

.btn-plus:hover::before,
.btn-plus:hover::after,
.btn-plus:focus::after,
.btn-plus:focus::before {
  background-color: rgb(0, 0, 0);
}

.btn-plus:active::before,
.btn-plus:active::after {
  background-color: rgb(129, 179, 210);
}

.booking-btn-search {
  width: 460px;
  height: 58px;
  border: none;

  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color:  rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.booking-btn-search:hover,
.booking-btn-search:focus {
  background-color: rgb(102,158, 192);
}

.booking-btn-search:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

.footer {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  min-height: 120px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: rgba(255, 255, 255, 0.9);
}

.index-footer {
  position: absolute;
}

.footer-hashtag {
  width: 400px;
  text-align: center;
  margin-right: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color:  rgb(0, 0, 0);
}

.social-list {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  width: 46px;
  height: 48px;
  background-color: rgb(129, 179, 210);
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(129, 179, 210);
}

.social-button:hover,
.social-button:focus {
  background-color: rgb(102,158, 192);
}

.social-button:active {
  background-color: rgb(84, 150, 189);
}

.social-button:active img{
  opacity: 0.3;
}

.footer-copyright {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color:  rgb(0, 0, 0);
}

.footer-copyright-span {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 7px;
}

.footer-copyright path {
  fill: rgb(0, 0, 0);
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: rgb(129, 179, 210);
}

.footer-copyright:active path {
  fill: rgb(189, 187, 188);
}

/* ------------------- ||||||||||||hotels|||||||||||| ---------------- */

.search-hotel {
  background-color: rgb(89, 128, 170);
  background-image: url("../img/filter-background.jpg");
  background-position: top -294px center;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
}

.search-form {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-right: 74px;
}

.search-service {
  margin: 0;
  margin-left: 73px;
  margin-right: 118px;
  padding: 0;
  padding-top: 30px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: none;
}

.search-service-title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.search-service-item {
  position: relative;
  margin: 0;
  padding: 0px;
  padding-left: 40px;
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
}

.search-service-item::before {
  content:"";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 23px 23px;
}

.search-service input:checked + .search-service-item::before {
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
}

.search-service input:disabled + .search-service-item::before {
  content: "";
  opacity: 0.35;
}

.search-service-item:disabled + label {
  color: rgb(106, 106, 107);
  background-color: rgba(0, 0, 0, 0);
}

.search-input:hover + label::before,
.search-input:focus + label::before {
  filter: drop-shadow(0 0 2px rgb(255, 0, 76));
}

.search-type {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-right: 50px;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: none;
}

.search-type-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.search-type-item {
  position: relative;
  margin: 0;
  padding: 0px;
  padding-left: 40px;
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
}

.search-type-item::before {
  content:"";
  position: absolute;
  left: 0;
  top: -1px;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: left top;
}

.search-type input:checked + .search-type-item::before {
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
}

.search-type input:disabled + .search-type-item::before {
  content: "";
  opacity: 0.35;
}

.search-type-item:disabled + label {
  color: rgb(106, 106, 107);
  background-color: rgba(0, 0, 0, 0);
}

.search-type input:focus + .search-type-item::before,
.search-service input:focus + .search-service-item::before {
  filter: drop-shadow( 0 0 3 rgb(0, 0, 0));
}

.container-price {
  display: block;
  margin: 0;
  margin-left: auto;
  width: 328px;
  min-height: 155px;
}

.search-price {
  width: 320px;
  min-height: 114px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: none;
}

.search-price-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: rgb(255, 255, 255);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  margin-left: 65px;

}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: rgb(255, 255, 255);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: rgb(28, 79, 128);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.search-form-submit {
  display: block;
  margin: 0 auto;
  padding-left: 34px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 4px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}

.search-form-submit:hover,
.search-form-submit:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.search-sort {
  background-color: rgb(255, 255, 255);
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 31px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-sort-result {
  margin: 0;
  margin-right: 43px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
}

.search-sort-span {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  padding-top: 6px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.search-sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-sort-item a {
  margin-right: 33px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: 1px dotted rgb(129, 179, 210);
  color: rgba(0, 0, 0, 0.3);
}

.search-sort-item a:hover,
.search-sort-item a:focus {
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.container-control {
  width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  }

.search-control-top {
  width: 0;
  border-top-width: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid rgb(202, 202, 202);
}

.search-control-top:hover,
.search-control-top:focus {
  border-bottom-color: rgb(0, 0, 0);
}

.search-control-top:active {
  border-bottom-color: rgb(129, 179, 210);
}

.search-control-top:not([href]) {
  border-bottom-color: rgb(129, 179, 210);
}

.search-control-down {
  width: 0;
  border-top: 10px solid rgb(202, 202, 202);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom-width: 0px;
}

.search-control-down:hover,
.search-control-down:focus {
  border-top-color: rgb(0, 0, 0);
}

.search-control-down:active {
  border-top-color: rgb(129, 179, 210);
}

.search-control-down:not([href]) {
  border-top-color: rgb(129, 179, 210);
}

.hotels-list {
  width: 1200px;
  min-height: 454px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: rgb(255, 255, 255);
}

.hotel {
  position: relative;
  margin: 0;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hotels-item {
  border-top: 1px solid rgb(229, 229, 229);
}
.hotels-item:last-child {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel img {
  width: 135px;
  height: 90px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  flex-shrink: 0;
}

.hotel-desc {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-hotel-desc {
  margin: 0;
  padding: 0;
  height: 90px;
}

.hotel-desc-link {
  margin: 0;
  padding: 0;
}

.hotel-desc-title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  top: 0;
  font-size: 21px;
  line-height: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.hotel-desc-title:hover,
.hotel-desc-title:focus {
  color: rgb(129, 179, 210);
}

.hotel-desc-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.container-type-prise {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.hotel-desc-type {
  margin: 0;
  padding: 0;
}

.hotel-desc-prise {
  margin: 0;
  padding: 0;
}

.container-hotel-btn {
  width: 260px;
  min-height: 27px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.hotel-btn-info {
  margin: 0;
  margin-right: 7px;
  padding-top: 4px;
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
}

.hotel-btn-info:hover,
.hotel-btn-info:focus {
  background-color: rgb(102,158, 192);
}

.hotel-btn-info:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-btn-reservation {
  margin: 0;
  padding-top: 4px;
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background-color: rgb(118, 99, 87);
  color: rgb(255, 255, 255);
}

.hotel-btn-reservation:hover,
.hotel-btn-reservation:focus {
  background-color: rgb(96, 78, 67);
}

.hotel-btn-reservation:active {
  background-color: rgb(80,62, 51);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  margin: 0;
  width: 220px;
  height: 90px;
  margin-left: auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-stars {
  width: 100px;
  height: 17px;
  margin-left: auto;
  margin-bottom: 43px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position-x: right;
}

.hotel-stars-four {
  width: 88px;
}

.hotel-stars-three {
  width: 65px;
}

.hotel-stars-two {
  width: 41px;
}

.hotel-rating-span {
  width: 110px;
  margin-left: auto;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 16px;
  display: block;
  color: rgb(102, 102, 102);
  background-color: rgb(242, 242, 242);
}


